*__pycache__
.idea/

pre_process/assets/*.pth
pre_process/assets/*.tar

pre_process/flownet_networks/channelnorm_package/build
pre_process/flownet_networks/channelnorm_package/channelnorm_cuda.egg-info
pre_process/flownet_networks/channelnorm_package/dist

pre_process/flownet_networks/correlation_package/build
pre_process/flownet_networks/correlation_package/correlation_cuda.egg-info
pre_process/flownet_networks/correlation_package/dist

pre_process/flownet_networks/resample2d_package/build/
pre_process/flownet_networks/resample2d_package/resample2d_cuda.egg-info
pre_process/flownet_networks/resample2d_package/dist

assets/*.pth
assets/*.tar

data/avenue/testing/
data/avenue/training/


data/ped2/testing/
data/ped2/training/


data/shanghaitech/testing/
data/shanghaitech/training/


hf2vad_bbox/
calc_training_stats_streaming.py
eval_multi_chunk.py
finetune_shanghaitech.py
LICENSE
ml_memAE_sc_eval_shanghaitech.py
ml_memAE_sc_train_shanghaitech.py
run_avenue_pipeline.sh
run_ped2_resume_after_avenue_flows.sh
run_ped2_resume.sh
train_3dcnn_sht.py
train_3dresnet_sht.py
train_shanghaitech.py
visualize_ped2_flow_bboxes.ipynb

pretrained_ckpts/

ckpt/
log/
eval/
logs/
outputs/
presentation